*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background: rgb(8, 7, 31);
    min-height: 100vh;
    font-family:'Courier New', Courier, monospace;
    color:white;
    overflow-x:hidden;
}

.app{
    width:100%;
    max-width: 700px;
}

.app-header{
    margin-bottom: 30px;
    text-align: center;
}

.app-title{
    font-size: 50px;
    font-weight: 600;
    color: white ;
}

.app-subtitle{
    font-size: 20px;
    color: white;
    margin-top: 4px;
}

.input-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    background:rgba(15,28,48,0.85);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 8px;
    padding: 10px 14px ;

}

.input-bar:focus-within{
    border-color:#888;

}

.input-prefix{
    color:#888;
    font-size: medium;
    white-space: nowrap;
}

.equation-input{
    flex: 1;
    background: transparent;
    border: none;
    outline:none;
    color:white;
    font-size: medium;
    min-width:0px;
}
.equation-inout::placeholder{
    color:#aaa;
}

.plot.btn{
    background:#333;
    color:#fff;
    border:none;
    border-radius:6px;
    padding: 9px 18px;
    font-weight: 500;
    font-size: medium;
    cursor:pointer;

}

 .error-msg{
    font-size: small;
    color: #c0392b;
    min-height: 10px;
    margin: 10px 2px 000;

 }


 #graphCanvas{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:block;
    z-index: 0;
 }

 .app{
    position :relative;
    z-index:1;
 }

 @media(max-width:480px){
    .app-title{font-size:20px}
    #graphCanvas{height:300px}
 }
